.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.8s;
}
.main-bg {
  height: 300px;
  background: url("./img/light\ brown\ wallpaper.jpeg") center;
  background-size: cover;
}
.App {
  text-align: center;
}
